[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/jeon/TacticOnTableVenv/bin/uwsgi -i /home/jeon/Server/tot/.config/uwsgi/tactic_on_table.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target